// Variable Overrides

// Bootstrap Sass Imports
@import "../../node_modules/bootstrap/scss/bootstrap";

#navbarText a.current{
    font-style: bold;
}

.nav-link:hover{
    text-decoration: underline;
}

#leftcolumn p.author{
    font-style: bold;
}
