// Variable Overrides

// Bootstrap Sass Imports
@import "../../node_modules/bootstrap/scss/bootstrap";

#navbarText a.current{
    font-weight: bold;
    color: white;
}

.nav-link:hover{
    text-decoration: underline;
}

p.author{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 16px;
}

p.publication{
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 16px;
}

.jumbotron{
    background-image: url("../media/pirate-ship.jpg");
    background-attachment: inherit;
    background-size: cover;
    height: 350px;
    padding: 0px;
}

.text-center{
    padding-top: 80px;
}

h2.display-1{
    align-items: center;
    font-family: 'Pirata One', sans-serif;
    color: white;
}

h6.display-6{
    color:white;
}

h3.storyheadline{
    font-family: 'Pirata One', sans-serif;
}

.dropdown{
    padding-bottom: 10px;
}

.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: gray;
    color: black;
    text-align: center;
 }
